@model Holiday
@{
    ViewBag.Title = "Edit Holiday";
    ViewBag.Title = "Holidays";
    var role = ViewBag.UserRole as string;

    if (role == "HR" || role == "VP" || role == "GM" || role == "Director")
    {
        Layout = "~/Views/Shared/_HrLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    }
}

<h4>Edit Holiday</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    <div class="mb-3">
        @Html.LabelFor(m => m.HolidayDate)
        @Html.TextBoxFor(m => m.HolidayDate,
        new { @class = "form-control", type = "date" })
</div>

<div class="mb-3">
    @Html.LabelFor(m => m.HolidayName)
    @Html.TextBoxFor(m => m.HolidayName,
        new { @class = "form-control" })
</div>

<div class="mb-3">
    @Html.LabelFor(m => m.Description)
    @Html.TextBoxFor(m => m.Description,
        new { @class = "form-control" })
</div>

<button class="btn btn-primary">Update</button>
<a href="@Url.Action("Index")" class="btn btn-secondary">Back</a>
}
