

@model IEnumerable<HRMS.Models.Leave>
@{
    ViewData["Title"] = "Leave Approvals";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

@{
    var userRole = ViewBag.UserRole as string;
}
<h3>Leave Approval</h3>
<hr />

<div id="approval-table-container">

<div class="row mt-4">
   
    @if (userRole == "Manager")
    {
        <div class="col-md-3">
            <div class="card p-3 shadow-sm">
                <h6>Pending Approvals</h6>
                <h3 class="text-primary">@ViewBag.ManagerPending</h3>
            </div>
        </div>
    }

    @if (userRole == "HR")
    {
        <div class="col-md-3">
            <div class="card p-3 shadow-sm">
                <h6>HR Pending</h6>
                <h3 class="text-warning">@ViewBag.HrPending</h3>
            </div>
        </div>
    }

    @if (userRole == "VP")
    {
        <div class="col-md-3">
            <div class="card p-3 shadow-sm">
                <h6>VP Pending</h6>
                <h3 class="text-info">@ViewBag.VpPending</h3>
            </div>
        </div>
    }

    @if (userRole == "Director")
    {
        <div class="col-md-3">
            <div class="card p-3 shadow-sm">
                <h6>Director Pending</h6>
                <h3 class="text-danger">@ViewBag.DirectorPending</h3>
            </div>
        </div>
    }

</div>

<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>Employee</th>
            <th>Category</th>
            <th>Start</th>
            <th>End</th>
            <th>Days</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Remark</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var l in Model)
        {
            <tr>
                <td>@l.Employee?.Name</td>
                <td>@l.Category</td>
                <td>@l.StartDate.ToShortDateString()</td>
                <td>@l.EndDate?.ToShortDateString()</td>
                <td>@l.TotalDays</td>
                <td>@l.Reason</td>

                <td>
                    
                    HR: @l.HrStatus <br />
                    M: @l.ManagerStatus <br />
                    VP: @l.VpStatus <br />
                    Dir: @l.DirectorStatus
                </td>

                <td>
                    <input class="form-control" id="remark-@l.Id" />
                </td>

                <td>
                    <a href="/Leave/@ViewBag.ApproveAction?id=@l.Id&approve=true&remark="
                       class="btn btn-success btn-sm">Approve</a>

                    <a href="/Leave/@ViewBag.ApproveAction?id=@l.Id&approve=false&remark="
                       class="btn btn-danger btn-sm">Reject</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>  
<script >
        document.getElementById("sidebarToggle").addEventListener("click", function () {
        const sidebar = document.getElementById("sidebar-wrapper");

        if (window.innerWidth <= 768) {
            sidebar.classList.toggle("open");
        } else {
            sidebar.classList.toggle("collapsed");
        }
    });


      

</script>

