@model HRMS.Models.Payroll
@{
    Layout = null;   // IMPORTANT for PDF
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Payslip</title>
    <style>
        body {
            font-family: Arial;
            font-size: 13px;
        }

        .header {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            padding: 6px;
            border: 1px solid #444;
        }

        .no-border td {
            border: none;
        }
    </style>
</head>
<body>

    <div class="header">
        INFINITY ARTHVISHVA<br />
        PAYSLIP - @Model.month / @Model.year
    </div>

    <table class="no-border">
        <tr>
            <td><b>Employee Code:</b> @Model.emp_code</td>
            <td><b>Name:</b> @Model.name</td>
        </tr>
    </table>

    <br />

    <table>
        <tr><td>Working Days</td><td>@Model.working_days</td></tr>
        <tr><td>Paid Days</td><td>@Model.paid_days</td></tr>
        <tr><td>Leaves</td><td>@Model.leaves_taken</td></tr>
        <tr><td>Gross Salary</td><td>@Model.gross_salary</td></tr>
        <tr><td>Deductions</td><td>@Model.total_deduction</td></tr>
        <tr><td><b>Net Salary</b></td></tr>
           <tr> <td><b>@Model.net_salary</b></td></tr>
    </table>

    <br />

    <b>Authorized Signatory</b>

</body>
</html>

